mat-form-field {
  padding: 10px 16px 0px 16px;
  height: 80px;
  border-radius: 5px;
  background-color:#f0f5f5;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  border-radius: 20px;
  margin-left: 8px;
  margin-right: 8px;
}

.form {
  padding: 24px;
  background-color: white;
}

.results-text {
  padding-top: 24px;
}
