.deep-mind-button {
  background-color: #0053d6;
  border-radius: 20px;
  color: white;
}

.deep-mind-button:hover {
  background-color: #ffdb13;
}



mat-form-field {
  padding: 10px 16px 0px 16px;
  height: 80px;
  border-radius: 5px;
  background-color:#f0f5f5;
}

mat-list-item:hover, mat-list-item:focus, mat-list-item:focus{
  background-color: #ffdb13;
  cursor: pointer;
}

