<section fxLayout="column" fxFlex>
  <app-deepmind-svg></app-deepmind-svg>

  <button mat-button
          aria-label="back button"
          class="back deep-mind-button"
          (click)="goBack()">
    back
  </button>

  <section fxFlex fxLayout="row"
           fxLayoutAlign="center center"
           *ngIf="loading">
    <app-loading fxLayoutAlign="center center"></app-loading>
  </section>

  <section fxFlex fxLayout="row"
           fxLayoutAlign="center center"
           *ngIf="!loading && error">
    <app-error
      [errorMessage]="errorMessage"
      fxLayoutAlign="center center">
    </app-error>
  </section>

  <ng-container *ngIf="!loading && agent">
    <header fxLayout="row" fxLayoutAlign="center center">
      <span fxFlex></span>
      <section class="title"
               fxLayout="column"
               fxFlex="60">
        <h2>{{agent.name}}</h2>
        <h2>{{agent.description}}</h2>
      </section>
      <span fxFlex></span>
    </header>

    <section fxLayout="row wrap" fxLayoutAlign="center center" aria-label="AI stats visualisation">
      <mat-card aria-label="overview stats">
        <mat-card-title>Overview</mat-card-title>
        <mat-card-subtitle>Average score per task category</mat-card-subtitle>
        <ngx-charts-bar-vertical
          [view]="view"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabelCategory"
          [yAxisLabel]="yAxisLabelAverage"
          [scheme]="colorScheme"
          [results]="averages">
        </ngx-charts-bar-vertical>
      </mat-card>

      <mat-card aria-label="AI memory stats">
        <mat-card-title>Memory</mat-card-title>
        <mat-card-subtitle>Individual task scores</mat-card-subtitle>
        <ngx-charts-bar-vertical
          [view]="view"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [scheme]="colorScheme"
          [results]="memoryData">
        </ngx-charts-bar-vertical>
      </mat-card>

      <mat-card aria-label="AI logic stats">
        <mat-card-title>Logic</mat-card-title>
        <mat-card-subtitle>Individual task scores</mat-card-subtitle>
        <ngx-charts-bar-vertical
          [view]="view"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [scheme]="colorScheme"
          [results]="logicData">
        </ngx-charts-bar-vertical>
      </mat-card>

      <mat-card aria-label="AI planning stats">
        <mat-card-title>Planning</mat-card-title>
        <mat-card-subtitle>Individual task scores</mat-card-subtitle>
        <ngx-charts-bar-vertical
          [view]="view"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [scheme]="colorScheme"
          [results]="planningData">
        </ngx-charts-bar-vertical>
      </mat-card>
    </section>
  </ng-container>
</section>
