.card {
  height: 400px;
  margin-bottom: 16px;
}

.description {
  background-color: #d4ffed;
  font-family: 'DM Serif Display', serif;
  padding-right: 24px;
}

.algorithm-detail {
  margin-top: 24px;
}

.chart {
  height: inherit;
}


