<section fxLayout="column" fxFlex>
<app-deepmind-svg></app-deepmind-svg>
<header fxLayout="row" fxLayoutAlign="center center">
  <span fxFlex></span>
  <section class="title" fxLayout="column" fxFlex="60">
    <h2>Let's see how {{testArray[0].name}} & {{testArray[1].name}} compare on average for Memory, Logic & Planning</h2>
  </section>
  <span fxFlex></span>
</header>

<button mat-button class="deep-mind-button" (click)= "goBack()">
  Back!
</button>

<section fxLayout="row" fxLayoutAlign="center " *ngIf="comparisonArray">
  <mat-card class="card" fxFlex="60">
    <mat-card-content>
      <ngx-charts-bar-vertical-2d
        [view]="view"
        [scheme]="colorScheme"
        [results]="comparisonArray"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle">
      </ngx-charts-bar-vertical-2d>
    </mat-card-content>
  </mat-card>
</section>
</section>


