<section id="nav" class="nav" role="navigation" fxLayoutAlign=" center" fxLayout="column" fxFill>
  <img class="logo" src="https://raw.githubusercontent.com/carriescott/dm-ai-showcase/master/src/assets/img/logo.png" alt="DeepMind Logo">
  <span fxFlex="6"></span>
  <button mat-icon-button
          routerLink="ai-algorithms"
          aria-label="AI algorithm search">
    <mat-icon class="material-icon-white"
              matTooltip="search AI database">
      search
    </mat-icon>
  </button>
  <span fxFlex></span>
</section>
