.nav {
  background: #0053d6;
  //height: 100%;
  padding: 16px;
  width: fit-content;
}

.logo {
  height:68px;
}

.material-icon-white {
  color: white;
}

.tag-line {
  color: white;
  font-family: sans-serif;
}
